@{
  ViewData["Title"] = "Calculator ";
}
@section styles {
  <style>

  </style>
}
<div id="main" class="d-flex justify-content-center col-12 pt-4">

  <div id="calcBody" class="col-10 col-lg-4 h-600 row">

    <div id="message" class="col-12 h-20"><span>&nbsp;</span></div>
    <div id="calcDisplay" class="border rounded d-flex align-items-center justify-content-end confine">
      <span class="display-6 fw-normal" id="displayArea">0</span>
    </div>

    <div class="calculator-button" id="clear" onclick="renderClick(id)">C</div>
    <div class="calculator-button" id="divide" onclick="renderClick(id)">/</div>
    <div class="calculator-button" id="multiply" onclick="renderClick(id)">X</div>
    <div class="calculator-button" id="backspace" onclick="renderClick(id)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
        <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z" />
        <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z" />
      </svg>
    </div>
    <div class="calculator-button" id="7" onclick="renderClick(id)">7</div>
    <div class="calculator-button" id="8" onclick="renderClick(id)">8</div>
    <div class="calculator-button" id="9" onclick="renderClick(id)">9</div>
    <div class="calculator-button" id="subtract" onclick="renderClick(id)">-</div>
    <div class="calculator-button" id="4" onclick="renderClick(id)">4</div>
    <div class="calculator-button" id="5" onclick="renderClick(id)">5</div>
    <div class="calculator-button" id="6" onclick="renderClick(id)">6</div>
    <div class="calculator-button" id="add" onclick="renderClick(id)">+</div>
    <div class="calculator-button" id="1" onclick="renderClick(id)">1</div>
    <div class="calculator-button" id="2" onclick="renderClick(id)">2</div>
    <div class="calculator-button" id="3" onclick="renderClick(id)">3</div>
    <div class="calculator-button calculator-buttonEquals" id="equals" onclick="renderClick(id)">=</div>
    <div class="buttonBlock" id="percentage">&nbsp;</div>
    <div class="calculator-button" id="0" onclick="renderClick(id)">0</div>
    <div class="calculator-button" id="period" onclick="renderClick(id)">.</div>
    <div class="buttonBlock" id="blank">&nbsp;</div>
  </div>

</div>

@section scripts {

}
